<table>
	<tr>
		<td> <img src="/~/image/space-duck-128x141.png"/> </td>
		<td class="title" style="width:100%"> <h1>Space HTTP Canard</h1> </td>
		<td id="quick-tools" rowspan="2">
			<table><tr>
				<td><label for="theme">Theme</label></td>
				<td>
					<select id="theme">
						<option value="country">Country</option>
						<option value="deepocean">Deep Ocean</option>
						<option value="galactic">Galactic</option>
						<option value="google">Google</option>
						<option value="stoneage">Stone Age</option>
						<option value="subtle" selected="selected">Subtle</option>
						<option value="terminal">Terminal</option>
					</select>
				</td>
			</tr></table>
		</td>
	</tr>
	<tr>
		<td colspan="2">Share via HTTP. like... like it's something easy.</td>
	</tr>
</table>
