
<html>
<head>
	<script src="{{static-resources.url}}/js/jquery-2.1.1.min.js" ></script>
	<script src="{{static-resources.url}}/js/jquery.cookie.js" ></script>
	<script src="{{static-resources.url}}/js/jquery.blockUI.js" ></script>
	<script src="{{static-resources.url}}/js/message.js" ></script>
	<script src="{{static-resources.url}}/js/option.js" ></script>
	<script src="{{static-resources.url}}/js/skin.js" ></script>

	<link id="common_css" rel="stylesheet" href="{{static-resources.url}}/css/common.css" type="text/css">
	<link id="theme_css" rel="stylesheet" href="{{static-resources.url}}/theme/{{client-preference.theme}}/main.css" type="text/css">
	<link id="mandatory_css" rel="stylesheet" href="{{static-resources.url}}/css/mandatory.css" type="text/css">

	{{html.head}}

</head>
<body>

	<div class="header main-container" >
		{{body.header}}
	</div>


	<div class="content main-container" >
		{{body.content}}
	</div>


	<div class="footer main-container" >
		{{body.footer}}
	</div>

</body>
</html>