
<html>
<head>
	<link rel="stylesheet" href="{{static-resources.url}}/css/common.css" type="text/css">
	{{html.head}}
	<link rel="stylesheet" href="{{static-resources.url}}/theme/subtle/main.css" type="text/css">
	<link rel="stylesheet" href="{{static-resources.url}}/css/mandatory.css" type="text/css">
</head>
<body>

	<div class="header main-container" >
		{{body.header}}
	</div>


	<div class="content main-container" >
		{{body.content}}
	</div>


	<div class="footer main-container" >
		{{body.footer}}
	</div>

</body>
</html>