
td#quick-tools {
	vertical-align: top;
}
div.header td.title  {
	text-align: center;
}
a { 
	font-style: normal; 
}

div.presentation>div.information {
	float: left;
}
div.presentation>div.tool {
	float: right;
}
div.presentation div.float-clear {
	clear: both;
}
div.presentation>hr {
	margin-bottom: 1em;
    margin-top: 1em;
}
div.presentation div.thing {
}

div.footer {
	font-size: smaller;
}

table.shared-things tr>td>a {
    display: block;
    width: 100%;
    height: 100%;
}

