<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.tetrakoopa.canardhttpd" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/-->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/canard_httpd_main"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <service
            android:name=".CanardHTTPDService"
            android:label="@string/srv_name"
            android:icon="@mipmap/canard_httpd_server"
            android:singleUser="true"
            android:isolatedProcess="false">
        </service>

        <activity
            android:name=".CanardHTTPDActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".CanardHTTPDActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CanardHTTPDActivity" />
        </activity>

        <activity
            android:name=".LogActivity"
            android:label="Log"
            android:parentActivityName=".CanardHTTPDActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CanardHTTPDActivity" />
        </activity>

    </application>

</manifest>
